:root {
  --ff-ubuntu: 'Ubuntu', sans-serif;
  --ff-ubuntu-mono: 'Ubuntu Mono', monospace;
  --bc-accent: #F65A83;
  --bc-accent-light: #F9B5D0;
  --bc-accent-dark: #F44272;
  --bc-dark: #090909;
  --bc-dark2: #393939;
  --bc-light: #FFF;
  --bc-semi-light: #EEEEEE;
  --lh: 1.5;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: var(--ff-ubuntu);
  line-height: var(--lh);
  background-color: var(--bc-semi-light);
}

#navbar {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 300px;
  text-align: center;
  border-right: 2px solid var(--bc-dark);
  background-color: var(--bc-dark);
}

#navbar h1 {
  color: var(--bc-accent);
  padding-top: 1.5rem;
}

#navbar a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--bc-light);
  font-size: 1rem;
}

#navbar h2 {
  padding-top: 0.5rem;
}

#navbar a:hover {
  background-color: var(--bc-accent);
  color: var(--bc-light);
  cursor: pointer;
  font-weight: bold;
}

.profile-img {
  width: 150px;
  border-radius: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  list-style: none;
  position: relative;
}

#main-doc {
  padding: 3rem;
  position: absolute;
  margin-left: 300px;
  margin-right: 0px;
}

.nav-link {
  border-top: 2px solid var(--bc-dark2);  
}

h2 {
  font-size: 2rem;
  color: var(--bc-accent);
  border-bottom: 2px solid var(--bc-dark);
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--bc-dark);
  padding-top: 1rem;
}

ul {
  padding-top: 1rem;
  padding-left: 1rem;
}

p a, section ul a {
  text-decoration: none;
  color: var(--bc-dark);
  font-weight: bold;
}

p a:hover,section ul a:hover {
  opacity: 50%;
}

ul a {

}

footer a {
  text-decoration: none;
  color: var(--bc-accent-dark);
}

@media (max-width: 850px) {
  #navbar {
  position: relative;
  width: auto;
  border: none;
  }

  #main-doc {
    margin-left: 0;
    width: auto;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  ul {
    font-size: 15px;
  }
}