:root {
  --ff-1: 'Work Sans', sans-serif;
  --bc-accent: #F54EA1;
  --bc-dark:  #0d0d0d;
  --bc-darker: #090909;
  --bc-light: #FFF;
  --lh: 1.5;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: var(--ff-1);
  line-height: var(--lh);
}

#navbar {
  height: 100%;
  position: fixed;
  width: 300px;
  text-align: center;
  background-color: var(--bc-dark);
}

#navbar h1 {
  color: var(--bc-light);
  font-family: var(--ff-1);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 30px 30px 30px;
}

#navbar a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--bc-light);
  font-family: var(--ff-1); 
  border-bottom: solid 3px var(--bc-dark);

}

#navbar a:hover {
  border-bottom: solid 3px var(--bc-accent);
  transition: border-bottom 1s;
  font-weight: 500;
  cursor: pointer;
}

.myLogo {
  max-width: 70px;
  position: relative;
  margin-top: 1rem;
}

.img-section {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 0;
}

#navbar ul {
  padding: 0;
}

#navbar li {
  list-style: none;
}

#main-doc {
  width: calc(100% - 300px);
  position: absolute;
  margin-left: 300px;
  margin-right: 0px;
}

.main-section {
  margin: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  color: var(--bc-dark);
  font-family: var(--ff-1);
  text-transform: uppercase;
  border-bottom: 2px solid var(--bc-dark);
  text-align: end;
}

strong {
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-family: var(--ff-1);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--bc-darker);
  padding-top: 1rem;
}

h3::before {
  content: "| ";
  font-weight: 800;
  color: var(--bc-accent);
}

ul {
  padding: 1rem;
}

section ul a{
  text-decoration: none;
  color: var(--bc-dark);
  font-weight: 600;
  font-style: italic; 
}

section ul a:hover {
  opacity: 50%;
}

footer a {
  text-decoration: none;
}

@media (max-width: 850px) {

  #navbar {
  position: relative;
  width: auto;
  border: none;
  height: 100vh;
  }

  .myLogo {
    max-width: 150px;
  }

  #main-doc {
    margin-left: 0;
    width: auto;
  }

  #navbar a {
    padding: 15px 20px;
    font-size: 20px;
  }

}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  ul {
    font-size: 15px;
  }
}