:root {
  --ff-1: 'Karla', sans-serif;
  --ff-2: 'Ubuntu', sans-serif;
  --bc-accent: #F65A83;
  --bc-accent-light: #F9B5D0;
  --bc-dark: #090909;
  --bc-dark2: #2c2c2c;
  --bc-light: #FFF;
  --bc-semi-light: #EEEEEE;
  --c-1:  #cd4f72;
  --lh: 1.5;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  font-family: var(--ff-1);
  line-height: var(--lh);
}

#navbar {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 300px;
  text-align: center;
  background-color: var(--c-1);
}

#navbar h1 {
  color: var(--bc-light);
  font-family: var(--ff-2);
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

#navbar a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
  color: var(--bc-light);
  font-family: var(--ff-2);  
}


#navbar h2 {
  padding-top: 1rem;
}

#navbar a:hover {
  background-color: var(--bc-semi-light);
  color: var(--bc-dark);
  cursor: pointer;
}

.profile-sec {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-img {
  width: 200px;
  border-radius: 50%;
}

#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  list-style: none;
  position: relative;
}

#main-doc {
  padding: 2.5rem;
  position: absolute;
  margin-left: 300px;
  margin-right: 0px;
}


h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--bc-accent);
  font-family: var(--ff-2);
  border-bottom: 4px solid var(--bc-accent);
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--bc-dark);
  padding-top: 1rem;
}

ul {
  padding-top: 1rem;
  padding-left: 1rem;
}

section ul a{
  text-decoration: none;
  color: var(--bc-dark);
  font-weight: bold; 
  font-family: var(--ff-2);
}

section ul a:hover {
  opacity: 50%;
}

footer a {
  text-decoration: none;
  color: var(--bc-accent);
}

@media (max-width: 850px) {
  #navbar {
  position: relative;
  width: auto;
  border: none;
  }

  #main-doc {
    margin-left: 0;
    width: auto;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  ul {
    font-size: 15px;
  }
}