:root {
  --ff-1: 'Karla', sans-serif;
  --ff-2: 'Ubuntu', sans-serif;
  --bc-accent: #F65A83;
  --bc-accent-light: #F9B5D0;
  --bc-dark: #090909;
  --bc-light: #FFF;
  --bc-semi-light1: #EEEEEE;
  --bc-semi-light2: #cdcdcd;
  --lh: 1.5;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--ff-1);
  line-height: var(--lh);
}

a {
  text-decoration: none;
  color: white;
}

.nav a {
  color: var(--bc-light);
  margin: 1rem;
}

ul {
  list-style: none;
}

/* NAV SECTION */

/* LOGO */
nav img {
  max-width: 150px;
}

nav img:hover {
  opacity: 50%;
  transition: opacity 1s;
}

.nav {
  background-color: var(--bc-dark);
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: var(--ff-1);
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-list a {
  transition: padding 1s;
}

.nav-list a:hover {
  background-color: var(--bc-dark);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--bc-accent);
}


/* WELCOME SECTION */

.welcome-section {
  background-color: var(--bc-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: var(--bc-light);
}

.welcome-section h1 {
  font-size: 3rem;
  font-family: var(--ff-2);
}

.welcome-section h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--ff-2);
  color: var(--bc-accent);
}

/* ABOUT SECTION */


.about-section {
  background-image: url(img/1.jpg);
  /* object-fit: cover; */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about-section .about-container {
  z-index: 10;
  width: 90%;
  justify-content: flex-start;
  margin-bottom: 2rem;
  background: rgb(9,9,9);
  background: linear-gradient(70deg, rgba(9,9,9,1) 3%, rgba(9,9,9,0) 80%);
}

.about-section .items-container {
  width: 100%;
  margin: 2rem;
}

.about-section h2, .projects-section h2, .contact-section h2 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--ff-2);
}

.about-section h2 {
  color: var(--bc-light);

}

.about-section p {
  color: var(--bc-light);
  max-width: 600px;
}

/* PROJECTS SECTION */
.projects-section {
  text-align: center;
  background-color: var(--bc-dark);
  width: 100%;
}


.projects-header {
  color: var(--bc-light);
  font-size:  var(--fz-h1);
  padding-top: 5rem;
}

.projects-grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 900px;
}

.project {
  padding: 1rem;
  border-radius: 5px;
  transition:background-color 2s;
}

.project:hover {
  opacity: 60%;
  background-color: var(--bc-light);
  cursor: pointer;
  color: var(--bc-dark);
}

.project-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* BUTTONS */

.btn-projects {
  margin-bottom: 2rem;
}

.btn-1 {
  position: relative;
  margin-top: 1rem;
  display: inline-block;
  padding: 5px 30px;
  text-align: center;
  font-family: var(--ff-2);
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--bc-light);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--bc-light);
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 var(--bc-light);
}

.btn-1:hover {
  color: var(--bc-dark);
  box-shadow: inset 0 -100px 0 0 var(--bc-light);
}

/* CONTACT SECTION */

.contact-section {
  background-color: var(--bc-semi-light1);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-section a {
  color: var(--bc-dark);
  flex-direction: column;
  padding: 1rem;
  transition: color 1s;
}

.contact-section a:hover {
  color: var(--bc-accent);
}

.contact-section i {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-links {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 1rem;
}

/* FOOTER */

footer {
  font-size: 25px;
  background-color: var(--bc-dark);
  color: var(--bc-light);
  font-family: var(--ff-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.cr-footer {
  font-weight: 800; 
  color: var(--bc-accent);
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 600px) {
  /* NAV SECTION */

  nav img {
    max-width: 110px;
  }

  .nav a {
    font-size: 16px;
    font-weight: 500;
  }

  /* WELCOME SECTION */
  .welcome-section h1 {
    font-size: 2rem;
  }
  
  .welcome-section h2 {
    font-size: 1.5rem;
  }

  /* ABOUT SECTION */
  .about-section h2 {
    font-size: 1.5rem;
  }

  .about-section .items-container {
    width: auto;
    margin: 1rem;
  }
  

  .about-section p {
    font-size: 14px;
    max-width: 300px;
  }

  /* PROJECTS SECTION */
  .projects-section h2 {
    font-size: 1.5rem;
  }

  .project-tile {
    font-size: 15px;
  }

  /* CONTACT SECTION */
  .contact-section h2 {
    font-size: 1.5rem;
  }

  .contact-section i {
    font-size: 2rem;
  }

  .contact-section p {
    font-size: 15px;
  }

  /* BUTTONS */
  
  .btn-projects {
    margin-bottom: 2rem;
  }
  
  .btn-1 {
    padding: 5px 20px;
    font-size: 15px;
  }

  footer {
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {

  /* WELCOME SECTION */
  .welcome-section h1 {
    font-size: 1.5rem;
  }
  
  .welcome-section h2 {
    font-size: 1rem;
  }


  /* PROJECTS SECTION */
  .projects-section h2 {
    font-size: 1.5rem;
  }

  .projects-section {
    margin: auto;
  }

  .projects-section a {
    max-width: calc(100% - 2.5rem);
  }

}