:root {
  --ff-1: 'Karla', sans-serif;
  --ff-2: 'Ubuntu', sans-serif;
  --bc-accent: #F65A83;
  --bc-accent-light: #F9B5D0;
  --bc-dark: #090909;
  --bc-light: #FFF;
  --bc-semi-light1: #EEEEEE;
  --bc-semi-light2: #cdcdcd;
  --lh: 1.5;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--ff-1);
  line-height: var(--lh);
}

a {
  text-decoration: none;
  color: var(--bc-light);
  text-transform: uppercase;
}

ul {
  list-style: none;
}

/* NAV SECTION */

.nav {
  background-color: var(--bc-accent);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 10;
  font-family: var(--ff-2);
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-list a:hover {
  opacity: 50%;
}

/* WELCOME SECTION */

.welcome-section {
  background-color: var(--bc-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-top: 3rem;
  color: var(--bc-light);
}

.welcome-section h1 {
  font-size: 3rem;
  font-family: var(--ff-2);
}

.welcome-section h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--ff-2);
  color: var(--bc-accent);
}

/* ABOUT SECTION */

.about-section {
  display: flex;
  background-color: var(--bc-semi-light1);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about-section h2, .projects-section h2, .contact-section h2 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: var(--ff-2);
}

.about-section p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-align: center;
  max-width: 600px;
}

/* PROJECTS SECTION */
.projects-section {
  text-align: center;
  background-color: var(--bc-dark);
  width: 100%;
}


.projects-header {
  color: var(--bc-light);
  font-size:  var(--fz-h1);
  padding-top: 5rem;
}

.projects-grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 1000px;
}

.project {
  padding: 1rem;
  border-radius: 5px;
}

.project:hover {
  opacity: 60%;
  background-color: var(--bc-light);
  cursor: pointer;
  color: var(--bc-dark);
}

.project-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 30px;
}

.btn-show-all {
  font-size: 1rem;
  background-color: var(--bc-dark);
  border: 2px solid var(--bc-semi-light2);
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--bc-semi-light2);
}

.btn-show-all:hover {
  background-color: var(--bc-semi-light2);
  color: var(--bc-dark);
  font-weight: bold;
}

.btn-show-cv {
  font-size: 1rem;
  background-color: var(--bc-semi-light1);
  border: 2px solid var(--bc-dark);
  margin-top: 2rem;
  color: var(--bc-dark);
}

.btn-show-cv:hover {
  background-color: var(--bc-dark);
  color: var(--bc-semi-light1);
  font-weight: bold;
}

/* CONTACT SECTION */

.contact-section {
  background-color: var(--bc-semi-light1);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.contact-section a {
  color: var(--bc-dark);
  flex-direction: column;
}

.contact-section a:hover {
  opacity: 50%;
}

.contact-section i {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-links {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  gap: 1rem;
}

/* FOOTER */

footer {
  background-color: var(--bc-dark);
  color: var(--bc-light);
  font-family: var(--ff-2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.pinkhat-img {
  width: 60px;
  margin-left: 1rem;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 600px) {
  /* NAV SECTION */
  .nav a {
    font-size: 15px;
    font-weight: 500;
  }

  /* WELCOME SECTION */
  .welcome-section h1 {
    font-size: 2rem;
  }
  
  .welcome-section h2 {
    font-size: 1.5rem;
  }

  /* ABOUT SECTION */
  .about-section h2 {
    font-size: 1.5rem;
  }

  .about-section p {
    font-size: 14px;
    max-width: 450px;
  }

  /* PROJECTS SECTION */
  .projects-section h2 {
    font-size: 1.5rem;
  }

  .project-tile {
    font-size: 15px;
  }

  /* CONTACT SECTION */
  .contact-section h2 {
    font-size: 1.5rem;
  }

  .contact-section i {
    font-size: 2rem;
  }

  .contact-section p {
    font-size: 15px;
  }

  /* BUTTONS */
  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 15px;
  }

  footer {
    font-size: 15px;
  }
}

@media only screen and (max-width: 300px) {

  /* WELCOME SECTION */
  .welcome-section h1 {
    font-size: 1.5rem;
  }
  
  .welcome-section h2 {
    font-size: 1rem;
  }


  /* PROJECTS SECTION */
  .projects-section h2 {
    font-size: 1.5rem;
  }

  .projects-section {
    margin: auto;
  }

  .projects-section a {
    max-width: calc(100% - 2.5rem);
  }

}