:root {
  --ff-1: 'Work Sans', sans-serif;
  --bc-accent: #F54EA1;
  --bc-dark:  #0d0d0d;
  --bc-darker: #090909;
  --bc-light: #FFF;
  --lh: 1.5;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--ff-1);
  line-height: var(--lh);
}

a {
  text-decoration: none;
  color: var(--bc-light);
}

ul {
  list-style: none;
}

/* NAV SECTION */

.nav {
  background-color: var(--bc-darker);
  padding: 1rem;
  font-family: var(--ff-1);
}

.nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-list a {
  transition: padding 1s;
  margin: 2rem;
  font-size: 18px;
}

.nav-list a:hover {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--bc-accent);
}

/* WELCOME SECTION */

.welcome-section {
  background-color: var(--bc-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: var(--bc-light);
}

.welcome-section h1 {
  font-size: 3.5rem;
  font-family: var(--ff-1);
  font-style: italic;
}

.welcome-section h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--ff-1);
  color: var(--bc-accent);
}

/* ABOUT SECTION */

.about-section {
  /* background-image: url("./img/hero.jpg"); */
  background-image: url("https://images.unsplash.com/photo-1539161486680-830c8f04dcb5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about-section .about-container {
  z-index: 10;
  width: 90%;
  border-radius: 10px;
  justify-content: flex-start;
  margin: auto;
  background: var(--bc-dark);
  background: linear-gradient(90deg, rgba(9,9,9,1) 15%, rgba(9,9,9,0.8589636538209033) 39%, rgba(9,9,9,0) 79%);
}

.about-section .items-container {
  width: 100%;
  margin: 2rem;
}

.about-section h2, .projects-section h2, .contact-section h2 {
  font-family: var(--ff-1);
  font-size: 2.5rem;
  font-weight: 600;
}

.about-section h2 {
  color: var(--bc-light);
}

.about-section p {
  color: var(--bc-light);
  max-width: 600px;
  font-size: 17px;
  padding-bottom: 1rem;
}

/* PROJECTS SECTION */

.projects-section {
  text-align: center;
  background-color: var(--bc-dark);
  width: 100%;
}

.projects-header {
  color: var(--bc-light);
  padding-top: 3rem;
}

.projects-grid {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 900px;
}

.project {
  padding: 1rem;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.project-title {
  font-family: var(--ff-1);
  font-size: 16px;
  text-transform: uppercase;
}

.project:hover {
  opacity: 70%;
  background-color: var(--bc-light);
  cursor: pointer;
  color: var(--bc-dark);
}

.project-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* BUTTONS */

.btn-projects {
  margin-bottom: 4rem;
}

.btn-1 {
  position: relative;
  margin-top: 1rem;
  display: inline-block;
  padding: 5px 30px;
  text-align: center;
  font-family: var(--ff-1);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--bc-light);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--bc-light);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--bc-light);
}

.btn-1:hover {
  color: var(--bc-dark);
  box-shadow: inset 0 -100px 0 0 var(--bc-light);
}

/* CONTACT SECTION */

.contact-section {
  background-color: var(--bc-light);
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-section a {
  color: var(--bc-dark);
  flex-direction: column;
  padding: 1rem;
  transition: color 0.5s;
}

.contact-section a:hover {
  color: var(--bc-accent);
}

.contact-section i {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-links {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 1rem;
}

.contact-section p {
  font-family: var(--ff-1);
  font-style: oblique;
}

/* FOOTER */

.footer {
  background-color: var(--bc-dark);
  padding: 40px 0;
  color: var(--bc-light);
  width: 100%;
}

.footer-col {
  width: auto;
  padding: 20px;
}

.footer-col h3 {
  font-size: 1.5rem;
  font-family: var(--ff-1);
  font-weight: 500;
  color: var(--bc-light);
  margin-bottom: 20px;
  position: relative;
}

.footer-col h3::before {
  content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--bc-accent);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer p {
  font-size: 22px;
}

.footer-link {
  color: var(--bc-light);
  font-style: var(--ff-1);
  font-size: 16px;

}

.footer-link:hover {
  color: var(--bc-accent);
}

.cr-footer {
  color: var(--bc-accent);
}

.row {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1170px;
  margin: auto;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 600px) {

  /* NAV SECTION */

  .nav a {
    font-size: 16px;
  }

  /* WELCOME SECTION */

  .welcome-section h1 {
    font-size: 2.5rem;
  }
  
  .about-section h2, .projects-section h2, .contact-section h2 {
    font-size: 1.5rem;
  }

  .about-section .items-container {
    width: auto;
    margin: 1;
  }

  .about-section p {
    font-size: 14px;
    max-width: 100%;
  }

  .about-section .about-container {
    background: linear-gradient(90deg, rgba(9,9,9,0.8841737378545168) 15%, rgba(9,9,9,0.6012605725884104) 39%);
  }

  /* PROJECTS SECTION */

  .project-tile {
    font-size: 14px;
  }

  /* CONTACT SECTION */

  .contact-section i {
    font-size: 2rem;
  }

  .contact-section p {
    font-size: 15px;
  }

  /* BUTTONS */
  
  .btn-1 {
    padding: 5px 20px;
    font-size: 15px;
  }

  .footer {
    font-size: 15px;
  }
  .row {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .contact-links {
    grid-template-columns: repeat(2, 3fr);
  }
}

@media only screen and (max-width: 300px) {

  /* WELCOME SECTION */
  .welcome-section h1 {
    font-size: 1.5rem;
  }
  
  .welcome-section h2 {
    font-size: 1rem;
  }

  /* PROJECTS SECTION */
  .projects-section h2 {
    font-size: 1.5rem;
  }

  .projects-section {
    margin: auto;
  }

  .projects-section a {
    max-width: calc(100% - 2.5rem);
  }

}